[submodule "apps/.flutter"]
	path = apps/.flutter
	url = https://github.com/flutter/flutter.git
	branch = stable
[submodule "apps/.isar"]
	path = apps/.isar
	url = https://github.com/isar/isar
	branch = main
