name: Linux

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
 build:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v3
     - uses: subosito/flutter-action@v2.11.0
       with:
         channel: 'stable'
     
     - name: Prepare
       working-directory: apps/onyx
       run: |
        sudo apt-get update -y
        sudo apt-get install -y ninja-build libgtk-3-dev libsecret-1-dev
        flutter config --enable-linux-desktop
        flutter pub get

     - name: Build
       working-directory: apps/onyx
       run: flutter build linux --no-tree-shake-icons
