name: Web

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
 build:
   runs-on: ubuntu-latest
   steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2.11.0
      with:
        channel: 'stable'

    - name: Prepare
      working-directory: apps/onyx
      run: flutter pub get
    
    - name: Build
      working-directory: apps/onyx
      run: flutter build web --no-tree-shake-icons
