name: Windows

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
 build:
   runs-on: windows-latest
   steps:
     - uses: actions/checkout@v3
     - uses: subosito/flutter-action@v2.11.0
       with:
         channel: 'stable'
     
     - name: Prepare
       working-directory: apps/onyx
       run: |
         flutter config --enable-windows-desktop
         flutter pub get
     
     - name: Build
       working-directory: apps/onyx
       run: flutter build windows --no-tree-shake-icons
